body{
	background: url(../images/SignUpBackground1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height:100%;
	width:100%;
	overflow:none;
	box-sizing: border-box;
}
.nav {
  overflow: hidden;
  background-color: #2E2E2E;
 }

.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 29px 31px 29px 31px;
  font-style: bold;
}

.nav #us a:hover {
  background-color: #eeeeee;
  color: rgba(255, 0, 0, 0.7);
}
#home{
	font-size: 30px;
	padding: 20px 20px 20px 50px;
	font-family: 'Impact';
	text-decoration: none;
	color: white;
}


.nav .icon {
  display: none;
}
#header {
	
  overflow: hidden;
  background-color: #2E2E2E;
  width:100%;
  height:100%;
  font-family: 'Impact';
  font-size: 30px;
 }

#header a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 29px 31px 29px 31px;
  font-style: bold;
}
.signup-form{
		
        text-align: center;
		height:43em;
		width:35em;
		margin: auto;
		margin-top:3em;
        padding: 20 10 20 10;
		text-shadow: 1px 1px hotred;
        background:linear-gradient(to right, #fc466b, #3f5efb);
        border-radius: 10px;
		margin-bottom:5em;
		padding-top:1em;
	}
.btn{
	background-color: #f96052;
	padding: 8px 16px;
	border-radius: 9px;
	text-decoration: none;
	width: 10em;
	display: inline-block;
	color: #FFF;
	cursor: pointer;
	margin-top: 1.1em;
 }
 .btn:hover{
	 background: #33e857;
	 color: #222222;
 }
	

input[type=text]:invalid, input[type=email]:invalid, input[type=password]:invalid{
	width: 20em;
	height:100%;
	margin:auto;
	padding: 7px 15px 7px 15px;
	border: 2px solid #ff3f3f;
	border-radius: 15px;
	padding-left: 4em;
	margin-top:1em;
	-webkit-transition: width .5s; 
    transition: width .5s;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus{
	width: 25em;
	height:100%;
	margin:auto;
	padding: 7px 15px 7px 15px;
	border: 3px solid #7def70;
	border-radius: 15px;
	padding-left: 4em;
	margin-top:1em;
	-webkit-transition: width .5s; 
    transition: width .5s;
}
input[type=text]:valid, input[type=email]:valid, input[type=password]:valid{
	width: 20em;
	height:100%;
	margin:auto;
	padding: 7px 15px 7px 15px;
	border: 3px solid #7def70;
	border-radius: 15px;
	padding-left: 4em;
	margin-top:1em;
	-webkit-transition: width .5s; 
    transition: width .5s;
}

#email, #password, #confirmpassword, #FirstName, #LastName{
position:static;	
margin-left: -10px;
}
.glyphicon, .fa{
	margin-right: -33px;
}
.eicon, .cfpicon, .picon, .ficon, .licon{
	margin-left:26px;
}
.head{
	padding-top:1.3em;
	margin-bottom:1.2em;
	color: #FFF;
    text-shadow: 2px 2px 4px #CCC;
	
}
.Login{
	padding-top:.8em;
}
.Login a:link{
	color: red;
	text-decoration:none;
}
.Login a:visited{
	color: black;
	text-decoration:none;
}
.Login a:hover{
	color:#4fa1ff;
	text-decoration:none;
}

#mess{
	height: 20em;
	width: 20em;
	margin-left: -2em;
	-webkit-transition: width .5s; 
    transition: width .5s;
}
#mess:focus{
	width: 25em;
	-webkit-transition: width .5s; 
    transition: width .5s;
}